@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



.background_styling {
    background-color: rgb(126, 214, 140);
    min-height: 100vh;
    color: rgba(15, 9, 0, 0.89);
}

.button {
    background-color: black;
    border-radius: 5px;
    color: bisque;
    padding: 10px;
}

.button2 {
    border-color: black;
    border-radius: 5px;
    color: black;
    padding: 7px;
    text-align: right;
    border-style: solid;
    border-width: 3px;
}

.user-input {
    width: 80%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-color: antiquewhite;
    border-style: dotted;
}

.tile_style {
    background-color: rgb(9, 10, 0);
    color: white;
    border-radius: 10px;
    width: 80%;
    margin-right: auto;
    border-color: white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 10px;
    border-style: solid;
}

.half_moon {
    background-color: white;
    width: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 30px;
}

.icon_styling {
    margin-top: 10px;
    margin-right: 5px;
}

.todo-item-add {
    margin-top: 0;
    margin-left: 10px;
    border-radius: 15px;
}

.checked {
    text-decoration: line-through;
}

.list_style {
    list-style-type: none;
}

.iconsize {
    font-size: 50px;
}


@media(min-width:767px){
    .background_styling {
        display: flex;
        min-height: 100vh;
        color: rgba(15, 9, 0, 0.89);
    }
    .static {
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        position: absolute;
        top: 30vh;
    }
    .dynamic {
        width: 50vw;
        left: 50vw;
        position: absolute;
    }
}
